<div class="row">

  <div class="col-9">
    <h2>Perfil do Prestador de Serviços</h2>
    <p>Fornecedor: TURNER Construction Company LLC</p>
    <p>Responsável Técnico: Doni Denuccio</p>
    <p>Formação: Engenheiro Civil Bacharel</p>
    <p>Tempo de Experiência: 5 anos</p>
    <p>Possui Veículo: Sim </p>
  </div>

  <!-- Botões laterais -->
  <div class="col-2">

    <button mat-raised-button class="font-btn-nav width-btn" *ngIf="displayBtn == 1" (click)="setDisplayCertificados()"> Certificados</button>

    <button [ngx-scroll-to]="'#portifolio'" mat-raised-button class="font-btn-nav mt-3 width-btn" *ngIf="displayBtn == 1" (click)="setDisplayPortifolio()"> Ver Portifólio</button>

    <button [ngx-scroll-to]="'#comentarios'" mat-raised-button class="font-btn-nav mt-3 width-btn" *ngIf="displayBtn == 1" (click)="setDisplayComentario()"> Comentários</button>

    <button mat-raised-button color="autorizar" class="font-btn-nav width-btn"  *ngIf="displayBtn == 2">Autorizar Início</button>

    <button mat-raised-button  style="text-align:left" color="autorizar" class="font-btn-nav width-btn-pay"  *ngIf="displayBtn == 3">Autorizar Pagamento</button>

    <!-- <button mat-raised-button class="font-btn-nav mt-3 width-btn" *ngIf="displayBtn == 3">Recomendações</button> -->

    <button mat-raised-button class="font-btn-nav mt-3 width-btn" *ngIf="displayBtn == 2">Rastrear</button>

    <button [ngx-scroll-to]="'#funcionarios'" mat-raised-button class="font-btn-nav mt-3 width-btn" *ngIf="displayBtn == 2 || displayBtn == 3" (click)="setDisplayFuncionarios()">Funcionários</button>
  </div>
</div>
