<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu col-12  col-md-2">
    <div class="brand pl-4 text-left"><b>Adicionar Serviços</b></div>

    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
        <ul>
            <li class="collapsed" *ngFor="let grupo of gruposClasses">
                <div class="ml-2">
                    <h3 (click)="abriSubMenu(grupo.id)">{{grupo.descricao}}</h3>
                </div>
                <ul class="sub-menu" *ngIf="menuId === grupo.id">
                    <li *ngFor="let classe of grupo.classes">
                        <div class="ml-4">
                            <a href="">{{classe.descricao}}</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>