.nav-side-menu {
    overflow: auto;
    font-size: 16px;
    font-weight: 200;
    background-color: #D1F6FF;
    position: fixed;
    /* width: 218px; */
    height: 100%;
    color: black;
    margin-right: 0;
    padding: 0 !important;
}

.nav-side-menu .brand {
    background-color: #D1F6FF;
    line-height: 50px;
    display: block;
    text-align: center;
}

.nav-side-menu .toggle-btn {
    display: none;
}


/* .nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin-bottom: 10px;
   line-height: 35px;
    cursor: pointer;
} */


/* .nav-side-menu li a {
    text-align: center !important;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    background-color: #63E1FD;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: black;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: black;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: rgba(99, 225, 253, 0.3);
    border: none;
    line-height: 28px;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #63E1FD;
} */


/* .nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f107";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
} */


/* .nav-side-menu li {
    padding-left: 0px;
}

.nav-side-menu li a {
    text-decoration: none;
    color: black;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    font-weight: bold;
    border-left: 3px solid black;
    background-color: #63E1FD;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
} */

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        height: auto;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}


/* NOVOOOOOOOOOOOOOOOOOOOOOOO */

.nav-side-menu h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    padding: 0 10px;
    cursor: pointer;
}

.nav-side-menu h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.nav-side-menu li {
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    list-style-type: none;
}


/* Links */

.nav-side-menu ul ul li a {
    text-decoration: none;
    /* display: block; */
    color: #404A51;
    /* padding: 0 15px; */
    /*transition for smooth hover animation*/
    /* transition: all 0.15s; */
}

.nav-side-menu ul ul {
    /* display: none; */
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    content: '\f107';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: rgba(99, 225, 253, 0.3);
    border: none;
    line-height: 28px;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #63E1FD;
}

.nav-side-menu ul .active,
.nav-side-menu li .active,
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    background-color: #63E1FD;
}

.nav-side-menu li h3:hover {
    font-weight: bold;
    border-left: 3px solid #404A51;
    background-color: #63E1FD;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}