   <!-- <ul class="nav justify-content-center nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/escolher']" routerLinkActive="active">
                Escolher<br/>
                <small> 1 Serviço</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/agendados']" routerLinkActive="active">
                Agendado<br/>
                <small> 2 Serviços</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/andamento']" routerLinkActive="active">
                Em Andamento<br/>
                <small> 3 Serviços</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/finalizados']"routerLinkActive="active" >
                Finalizados<br/>
                <small> 1 Serviço</small>
              </a>
            </li>
          </ul> -->


          <!-- Step -->

           <mat-horizontal-stepper #stepper>
            <mat-step [routerLink]="['/orcamento']">
             <ng-template matStepLabel> <a class="style-link" [routerLink]="['/orcamento']"> <span class="d-none d-sm-block">Selecione
               Serviços</span></a></ng-template>
           </mat-step>
           <mat-step>
             <ng-template matStepLabel>
               <a class="style-link" [routerLink]="['/quantidade']">
                 <span class="d-none d-sm-block">Inserir Quantidades</span>
               </a>
             </ng-template>
           </mat-step>
           <mat-step>
             <ng-template matStepLabel>
               <a class="style-link" [routerLink]="['/proposta']">
                 <span class="d-none d-sm-block">Proposta de Preço</span>
               </a>
             </ng-template>
           </mat-step>
           <mat-step>
             <ng-template matStepLabel>
               <a class="style-link" [routerLink]="['/pagamento']">
                 <span class="d-none d-sm-block">Pagamento</span>
               </a>
             </ng-template>
           </mat-step>
         </mat-horizontal-stepper>
