<div *ngIf="display">
  <hr />
  <!-- Email -->
  <div class="row">
    <div class="col-12">
      <div class="float-left">
        <h2 id="email">Email</h2>
      </div>
      <div class="text-center">
        <a href="" class="mr-2">Recebidos </a>
        <a href="" class="mr-5">Enviados</a>
      </div>

      <div class="col-7" style="clear: both;">

        <!-- De -->
        <mat-form-field appearance="legacy">
          <mat-label>De: </mat-label>
          <input disabled matInput value="email_do_colaborador@gmail.com" placeholder="usuario@exemplo.com">
        </mat-form-field>
        <br>

        <!-- Para -->
        <mat-form-field appearance="legacy">
          <mat-chip-list #chipList aria-label="Email para: ">
            <mat-chip *ngFor="let contato of contatoPrestador" [selectable]="selectable" [removable]="removable"
              (removed)="remove(contato)">
              {{contato}}
              <span matChipRemove *ngIf="removable"><i class="fas fa-times"></i></span>
            </mat-chip>
            <input placeholder="Para: " #contatoInput [formControl]="contatoCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let contato of filtroContato | async" [value]="contato">
              {{contato}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>



        <mat-form-field appearance="legacy">
          <mat-label>Assunto </mat-label>
          <input matInput placeholder="Informe o assunto">
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field>
          <mat-label>Mensagem</mat-label>
          <textarea matInput placeholder="Escreva sua mensagem" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"></textarea>
        </mat-form-field>
        <button mat-raised-button class="font-btn-nav width-btn">Enviar</button>
      </div>
    </div>
  </div>
</div>
