<h2>Avaliação</h2>

<p>Aparência Profissional <ngx-star-rating [filledColor]="'#ffa500'"></ngx-star-rating></p>

<p>Pontualidade <ngx-star-rating [filledColor]="'#ffa500'"></ngx-star-rating></p>

<p>Qualidade do serviço<ngx-star-rating [filledColor]="'#ffa500'"></ngx-star-rating></p>

<p>Limpeza final <ngx-star-rating [filledColor]="'#ffa500'"></ngx-star-rating></p>

<p>Você indicaria o DeCasa<ngx-star-rating [filledColor]="'#ffa500'"></ngx-star-rating></p>

<button mat-raised-button class="font-btn-nav width-btn">Avaliar</button>



