<!-- MENU -->
<div class="container-fluid" [hidden]="displayTemplate">
  <div class="row">
    <!-- Login-->
    <div class="col-12  col-md-2 background-primary float-left" (click)="toggleDisplay()" style="cursor:pointer">
      <a id="login">
        <div class="justify-content-center d-flex mt-2 mt-md-5">
          <img class="img-logo rounded-circle" src="/assets/sistema/nav-horizontal/user.png" alt="Imagem Perfil">
        </div>
        <p class="center mt-md-3 mt-1">
          Fazer login
        </p>
      </a>
    </div>
    <div class="col-12 col-md-10 float-left">
      <!-- Logo -->
      <div class="row">
        <div class="col-12">
          <p class="float-left mt-3 mb-5">
            <a [routerLink]="['/home']">
              <img src="/assets/site/logo.png" alt="Logo">
            </a>
          </p>
          <!-- Links direitos -->
          <div class="d-flex justify-content-end mr-md-4 mr-0">
            <ul class="navbar-nav login mb-4">
              <li class="nav-item ">
                <button class="btn-icon mr-3" data-html="true" data-toggle="popover" data-trigger="focus"
                  template="<div class='popover my-specific-popover'" title="Localização" data-placement="bottom"
                  data-content="Informe a sua cidade para carregarmos os serviços disponíveis.
                <br/>
                <a class='btn'>Informar</a>
                <a class= 'btn'>Fechar</a>"><i class="fas fa-map-marker-alt">
                  </i><br /> SLZ
                </button>
                <button class="btn-icon mr-3"><i class="far fa-heart"></i> </button>
                <button class="btn-icon"><i class="fa fa-shopping-cart"></i> </button>
              </li>
            </ul>
          </div> <!-- Links direitos-->
        </div>
      </div> <!-- Row Logo-->
      <div class="row lista">
        <div class=" col-md-10 col-12">
          <app-navbar></app-navbar>
        </div>
        <div class="col-12 col-md-2">
          <div class="justify-content-md-end text-center text-md-right d-block mt-md-3 mt-2 mb-2 mr-md-4 mr-0">
            <button mat-raised-button class="font-btn-nav" (click)="goTo(stepper)" [hidden]="!btnContratar"> Avançar <i
                class="fas fa-angle-double-right"></i></button>
            <button mat-raised-button class="font-btn-nav" [hidden]="btnContratar">Pagar <i
                class="far fa-credit-card"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Row Orçamento-->
  <div class="row" [hidden]="isDisplay">
    <div class="ml-0 col-12  col-md-4">
      <app-login></app-login>
    </div>
  </div>
</div>
