<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-4">

    <!-- Name Column -->
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição de serviços selecionados </th>
        <td mat-cell *matCellDef="let element"> <span matTooltipPosition="right" matTooltip="Informações sobre o serviço">{{element.servico.descricao}} </span></td>
    </ng-container>

    <!-- qntd Column -->
    <ng-container matColumnDef="qntd">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element">
            <div>
                <input type="number" min="0" class="qntd-input form-control" [ngModel]="element.quantidade" (input)="onSearchChange($event.target.value, element)">
            </div>
        </td>
    </ng-container>

    <!-- Unidade Column -->
    <ng-container matColumnDef="unidade">
        <th mat-header-cell *matHeaderCellDef> Unidade </th>
        <td mat-cell *matCellDef="let element"> {{element.servico.unidadeMedida.sigla}} </td>
    </ng-container>

    <!-- Unidade Column -->
    <ng-container matColumnDef="opc">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <i class="fas fa-trash cursor" title="Apagar" (click)="deleteElement(element)"></i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>