.pedidos{
  background-color: rgba(99, 225, 253, 0.15);
}
::ng-deep .highlight-blue{
  color: #0A68AE !important;
}
::ng-deep .highlight-red{
  color: #EB6666;
}

/* Cor da tabela */
::ng-deep .mat-header-cell{
  font-size: 16px;
  color: black;
  background-color:rgba(99, 225, 253, 0.1) !important;
}

