<app-nav-vertical-usuario></app-nav-vertical-usuario>

<div class="col-md-10 float-md-right col-12 ml-auto orcamento">
  <div class="row">
    <div class="col-md-3 col-12 pedidos">
      <!-- Pedidos -->
      <app-nav-vertical-perfil></app-nav-vertical-perfil>
    </div>

    <div class="col-12 col-md-9 scroll-auto container-fluid">
      <div class="float-right mr-4 mt-2">
        <button mat-raised-button (click)="display()"><i class="fas fa-map-marker-alt mr-2"></i>Novo Endereço</button>
      </div>

      <!-- Form de cadastro -->
      <form id="formFuncionario" *ngIf="displayForm" [formGroup]="enderecoForm" novalidate>

        <!-- Cep -->
        <div class="row mt-2">
          <div class="form-group col-md-3 col-6">
            <label for="cep">CEP</label>
            <input [textMask]="{mask: cepMask}" type="text" class="form-control" name="cep" id="cep" placeholder="Cep"
                   (blur)="onBlurCep()" formControlName="cep">
            <span
              *ngIf="enderecoForm.controls['cep'].invalid && (enderecoForm.controls['cep'].touched || enderecoForm.controls['cep'].dirty)">
                    <span class="color-red">Cep inválido</span>
                    </span>
          </div>

          <div class="mt-2 form-group col-md-9 d-md-block d-none">
            <button type="button" (click)="display()" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <!-- Rua -->
        <div class="row">
          <div class="form-group col-md-6 col-10">
            <label for="logradouro">Rua</label>
            <input type="text" class="form-control" name="logradouro" formControlName="logradouro" id="logradouro"
                   placeholder="Ex. R. Osvaldo">
            <span
              *ngIf="enderecoForm.controls['logradouro'].invalid && (enderecoForm.controls['logradouro'].touched || enderecoForm.controls['logradouro'].dirty)">
                    <span class="color-red">Preencha a rua</span>
                    </span>
          </div>

          <div class="form-group col-md-2 col-2">
            <label for="n">Nº</label>
            <input type="number" class="form-control" name="numero" formControlName="numero" id="n">
          </div>
        </div>

        <!-- Bairro -->
        <div class="row">

          <div class="form-group col-md-6 col-10">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" name="bairro" formControlName="bairro" id="bairro" placeholder="Informe seu bairro">
            <span
              *ngIf="enderecoForm.controls['bairro'].invalid && (enderecoForm.controls['bairro'].touched || enderecoForm.controls['bairro'].dirty)">
                    <span class="color-red">Preencha o bairro</span>
                    </span>
          </div>

          <div class="form-group col-md-4 col-10">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" formControlName="cidade" id="cidade" placeholder="Informe a cidade">
            <span
              *ngIf="enderecoForm.controls['cidade'].invalid && (enderecoForm.controls['cidade'].touched || enderecoForm.controls['cidade'].dirty)">
                    <span class="color-red">Preencha a Cidade</span>
                    </span>
          </div>

          <div class="form-group col-md-2 col-10">
            <label for="uf">UF</label>
            <input type="text" class="form-control" name="uf" formControlName="uf" id="uf" placeholder="Informe a UF">
            <span
              *ngIf="enderecoForm.controls['uf'].invalid && (enderecoForm.controls['uf'].touched || enderecoForm.controls['uf'].dirty)">
                    <span class="color-red">Preencha a UF</span>
                    </span>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-md-6 col-10">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" placeholder="Ex. Cond. bl. apto.">
          </div>
          <div class="form-group col-md-2 col-10">
            <label for="pais">País</label>
            <select id="pais" class="form-control">
              <option selected>BRA</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Definir como Endereço Principal
            </label>
          </div>
        </div>

        <button mat-raised-button class="mr-2"><i class="fas fa-check mr-2"></i>Cadastrar</button>
      </form> <!-- Form de cadastros-->

      <app-lista-enderecos [displayForm]="displayForm"></app-lista-enderecos>

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
