<div id="holder">
    <div class="lista-material">
        <ul class="using">
            <li class="pad"><a href="#"><span><i class="fas fa-laptop mr-2"></i>Informática </span></a>
                <ul>
                    <div class="sub-wrapper">
                        <li><a [routerLink]="['/orcamento']">Informática 1</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 2</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 3</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 1</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 2</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 3</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 1</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 2</a></li>
                        <li><a [routerLink]="['/orcamento']">Informática 3</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>

    <div class="lista-material">
        <ul class="using">
            <li class="pad"><a href="#"><span> <i class="fas fa-hard-hat mr-2"></i>Obra & Reformas</span></a>
                <ul>
                    <div class="sub-wrapper">
                        <li><a [routerLink]="['/orcamento']">Reforma 1 </a></li>
                        <li><a [routerLink]="['/orcamento']">Reforma 2</a></li>
                        <li><a [routerLink]="['/orcamento']">Reforma 3</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>

    <div class="lista-material">
        <ul class="using">
            <li class="pad"><a href="#"><span> <i class="fas fa-home mr-2"></i>Serviços de Casa</span></a>
                <ul>
                    <div class="sub-wrapper">
                        <li><a [routerLink]="['/orcamento']">Serviço de Casa 1</a></li>
                        <li><a [routerLink]="['/orcamento']">Serviço de Casa 2</a></li>
                        <li><a [routerLink]="['/orcamento']">Serviço de Casa 3</a></li>
                        <li><a [routerLink]="['/orcamento']">Serviço de Casa 4</a></li>
                        <li><a [routerLink]="['/orcamento']">Serviço de Casa 5</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>

    <div class="lista-material">
        <ul class="using">
            <li class="pad"><a href="#"><span> <i class="fas fa-chalkboard-teacher mr-2"></i>Aulas</span></a>
                <ul>
                    <div class="sub-wrapper">
                        <li><a [routerLink]="['/orcamento']">Aula 1</a></li>
                        <li><a [routerLink]="['/orcamento']">Aula 2</a></li>
                        <li><a [routerLink]="['/orcamento']">Aula 3</a></li>
                        <li><a [routerLink]="['/orcamento']">Aula 4</a></li>
                        <li><a [routerLink]="['/orcamento']">Aula 5</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</div>
