.pedidos{
  background-color: rgba(99, 225, 253, 0.15);
}
::ng-deep .mat-header-cell, .mat-cell{
  font-size: 16px;
  color: black;
  background-color:rgba(99, 225, 253,  0.09) !important;
}

.checked {
  color: orange;
}

.img-avatar{
  background-color: #0A68AE;
}

.perfil{
  background-color:#F4FDFF;
}

.width-btn{
  width : 8em !important
}
