<div class="row">
    <!-- Tabela -->
    <div class="col-md-7 col-12">
        <!-- Texto da garantia e validade -->
        <div>
            <p class="text-center ">
                Garantia: <b>60 dias</b> | Validade da Proposta: <b>15 dias</b>
            </p>
        </div>

        <!-- Tabela -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-2 mb-4">

            <!-- Name Column -->
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição de serviços selecionados </th>
                <td mat-cell *matCellDef="let element"> <span matTooltipPosition="right" matTooltip="Informações sobre o serviço">{{element.servico.descricao}} </span></td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <!-- qntd Column -->
            <ng-container matColumnDef="qntd">
                <th mat-header-cell *matHeaderCellDef> Qtd </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <input disabled type="text" class="text-center qntd-input form-control" [ngModel]="element.quantidade">
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef [attr.colspan]="2">
                    <span class="btn btn-outline-secondary" style="cursor:default">{{total | currency:'BRL':true}}</span>
                </td>
            </ng-container>

            <!-- Unidade Column -->
            <ng-container matColumnDef="unidade">
                <th mat-header-cell *matHeaderCellDef> Und </th>
                <td mat-cell *matCellDef="let element"> {{element.servico.unidadeMedida.sigla}} </td>
                <td mat-footer-cell *matFooterCellDef [hidden]="true"></td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>

    </div>

    <!-- Mapa -->
    <div class="col-md-5 col-12">
        <div class="mt-2"></div>
        <app-map-proposta></app-map-proposta>
    </div>
</div>

<!--Itens da proposta-->
<div class="row mt-3">
    <div class="col-md-7 col-12">

        <h4 class="badge  background-blue-logo"><b>Composição dos serviços</b></h4>
        <ul *ngFor="let item of dataSource">
            <li> <b>{{item.servico.descricao}}:</b> {{item.servico.composicao}}</li>
        </ul>
        <!-- Inclusos -->
        <!-- <h4 class="badge  background-blue-logo"><b>Itens inclusos na proposta</b></h4>
        <ul>
            <li> Donec lectus tortor, finibus vitae tellus sed, tempor tincidunt ante. Suspendisse nec hendrerit turpis.</li>
            <li>Vestibulum dignissim eleifend mi, non mollis elit convallis sed. Curabitur in consequat diam. Vivamus a enim in sem venenatis hendrerit. Quisque pellentesque suscipit diam</li>
            <li>Etiam mollis vulputate neque vitae dapibus. Donec non sagittis arcu, ut finibus velit.</li>
        </ul> -->
        <!-- Excluso -->
        <!-- <h4 class="badge color-orange-logo"><b>Itens NÃO inclusos na proposta</b></h4>
        <ul>
            <li>Pellentesque molestie lectus ut lacus ultricies, eget pulvinar justo tempor. Duis viverra est ut ante blandit dictum.
            </li>
            <li>Pellentesque massa mauris, interdum sit amet ultricies in, porta a dolor. Vivamus est erat, tincidunt eu nisi id, fermentum laoreet purus. </li>
            <li>Cras volutpat nisl quis est commodo maximus.</li>
        </ul> -->
    </div>
    <!-- Botões compartilhar e salvar -->
    <div class="col-md-5 col-12">
        <a href="#" class="btn btn-light">Salvar Proposta <i class="fas fa-file-download"></i></a>
        <br />
        <a href="#" class="btn btn-light mt-2">Compartilhar Proposta <i class="fas fa-share-alt"></i></a>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />