<!--<div id="holder">-->
<!--  <owl-carousel-o [options]="customOptions">-->
<!--    <ng-template carouselSlide *ngFor="let grupo of gruposClasses" class="lista-material">-->
<!--      <ul class="using">-->
<!--        <li class="pad" class="text-center">-->
<!--          <a href="#"><span><i class="fas fa-chevron-down mr-2"></i>{{grupo.descricao}}</span></a>-->
<!--          <ul>-->
<!--            <div class="sub-wrapper">-->
<!--              <li *ngFor="let classe of grupo.classes"><a (click)="goToOrcamento(classe.id)">{{classe.descricao}}</a>-->
<!--              </li>-->
<!--            </div>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </ng-template>-->
<!--  </owl-carousel-o>-->
<!--</div>-->
