<mat-toolbar>
  <span>Anexar</span>
  <span class="spacer"></span>
  <a (click)="close()" class="cursor"><i class="fas fa-times"></i></a>
</mat-toolbar>

<div class="row mt-3">
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Tipo do anexo</mat-label>
      <mat-select [formControl]="tipoControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let tipo of tipos" [value]="tipo">
          {{tipo.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tipoControl.hasError('required')">Por favor, escolha o tipo do documento.</mat-error>

    </mat-form-field>
  </div>


  <div class="col-12 col-md-6">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" multiple
      (change)="onChange($event)"
      >
      <label class="custom-file-label" for="customFile" id="fileLabel">Escolha o arquivo</label>
    </div>
  </div>
</div>
<button mat-raised-button [disabled]="!files" (click)='onUpload()'>Enviar</button>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mt-3">
  <!-- ID Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
    <td mat-cell *matCellDef="let row"> <a href="" class="style-link">{{row}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="opcoes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let row"><a (click)="onRemove(row)"><i class="fas fa-trash"></i></a> </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns">
  </tr>
</table>
