<table mat-table [dataSource]="cartoes" class="mat-elevation-z8 mt-4">

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <td mat-cell *matCellDef="let element"> {{element.nomeCartao}}</td>show
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="numero">
    <td mat-cell *matCellDef="let element"> {{element.numeroCartao}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="bandeira">
    <td mat-cell *matCellDef="let element"> {{element.bandeira | uppercase}}</td>
  </ng-container>

  <!-- Unidade Column -->
  <ng-container matColumnDef="opc">
    <td mat-cell *matCellDef="let element">
      <div class="spinner-border text-primary" role="status" *ngIf="selectCard === element.id"></div>
      <a (click)=" openDialogDelete(element.id)" class="cursor" *ngIf="selectCard != element.id" title="deletar cartão"><i class="fas fa-trash"></i></a>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
