<div class="container justify-content-center d-flex mt-3">
  <a [routerLink]="['/home']">
    <img src="/assets/site/logo.png" alt="Logo">
  </a>
</div>
<hr />

<div class="container text-center color-gray">
  <h2>Somos uma plataforma de tecnologia que intermedia a relação de consumo entre Fornecedor e Consumidor (pessoa
    física ou jurídica). Pelo nosso site ou <a href="#">App</a> você compra e gerencia serviços e materiais, sendo
    atendido por fornecedores selecionados. DeCasa é mais segurança, mobilidade e agilidade para você e sua empresa.
  </h2>

  <br />
  <h2>Os dados abaixo precisam ser preenchidos corretamente pois é o que será impresso em seu Recibo de Pagamento.</h2>
  <br />
  <h2>
    Use suas redes sociais: <br class="d-block d-md-none" />
    <a href="" class="ml-2"> <img src="/assets/icones/facebook-icon.png" alt="Facebook"></a>
    <a href="" class="ml-3"> <img src="/assets/icones/Instagram-icon.png" alt="Instagram"></a>
    <a href="" class="ml-3"> <img src="/assets/icones/google-icon.png" alt="Google"></a>
    <a href="" class="ml-3"> <img src="/assets/icones/microsoft-icon.png" alt="Microsoft"></a>
  </h2>
  <br />
  <h2>ou preencha os dados abaixo </h2>
  <!-- Formulário de Cadastro -->

  <form>
    <div class="row">
      <div class="offset-2 col-8">
        <!-- Nome -->
        <div class="form-group row">
          <label for="idNome" class="col-sm-2 col-form-label justify-md-content-end d-flex justify-content-center">
            <h2>Nome:</h2>
          </label>
          <div class="mt-3 mt-sm-0  col-sm-10">
            <input type="text" class="form-control" id="idNome" placeholder="Informe seu nome completo">
          </div>
        </div>

        <!-- Email -->
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label justify-md-content-end d-flex justify-content-center">
            <h2>Email:</h2>
          </label>
          <div class="mt-3 mt-sm-0  col-sm-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="nome@exemplo.com">
          </div>
        </div>

        <!-- Telefone -->
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label justify-md-content-end d-flex justify-content-center">
            <h2>Telefone:</h2>
          </label>
          <div class="col-sm-2 float-left">
            <img src="/assets/icones/br.png" alt="Logo">
          </div>
          <div class="col-md-4 mt-3 mt-sm-0  col-sm-8">
            <input type="text" class="form-control" id="inputEmail" placeholder="(DDD)_____-_____">
          </div>
        </div>

        <!-- Pais -->
        <div class="form-group row">
          <label for="inputEndereco"
            class="col-sm-2 col-form-label justify-md-content-end d-flex justify-content-center">
            <h2>Endereço:</h2>
          </label>
          <div class="col-sm-3 col-md-2">
            <select id="inputEndereco" class="form-control">
              <option selected>UF</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-4 mt-3 mt-sm-0  col-sm-7">
            <input type="text" class="form-control mt-3 mt-sm-0" id="inputEmail" placeholder="Cidade">
          </div>
        </div>
        <div class="form-group ml-md-5 ml-0">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Quero receber ofertas e conteúdos das empresas do Grupo Prado e parceiros
            </label>
          </div>
        </div>

        <div class="form-group ml-md-5 ml-0">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck"> <a href="#">
                Concordo com os Termos e Condições de uso e Políticas de Privacidade
              </a>
            </label>
          </div>
        </div>

        <div>
          <button class="btn btn-primary">Criar conta</button>
        </div>
      </div> <!-- Coluna-->
    </div>
    <!--Linha-->
  </form>
</div>
<br />
