<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-perfil"></i>

  <div class="menu-list mt-4">
    <ul id="menu-perfil" class="menu-content collapse out">
      <li data-toggle="collapse" data-target="#perfil" class="collapsed">
        <a><i class="fas fa-user"></i> Meu Perfil<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse ml-md-2 ml-0" id="perfil">
        <li class="active" [routerLink]="['/dados-pessoais']" routerLinkActive="active" ><a>Dados Pessoais</a></li>
        <!-- <li><a>Permissões</a></li> -->
        <li [routerLink]="['/senha']" routerLinkActive="active"><a>Senha</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#empresa" class="collapsed" [routerLink]="['/dados-cadastrais']" routerLinkActive="active">
        <a><i class="fas fa-briefcase"></i> Empresa</a>
      </li>
<!--      <ul class="sub-menu collapse ml-md-2 ml-0" id="empresa">-->
<!--        <li [routerLink]="['/dados-cadastrais']" routerLinkActive="active"><a>Dados Cadastrais</a></li>-->
<!--        <li [routerLink]="['/outros-membros']" routerLinkActive="active"><a>Outros membros</a></li>-->
<!--      </ul>-->

      <li class="collapsed" [routerLink]="['/endereco']" routerLinkActive="active">
        <a><i class="fas fa-map-marker-alt"></i> Endereços</a>
      </li>

      <!-- <li data-toggle="collapse" data-target="#endereco" class="collapsed">
        <a><i class="fas fa-map-marker-alt"></i> Endereços</a>
      </li>
      <ul class="sub-menu collapse ml-md-2 ml-0" id="endereco">
        <li><a>Principal</a></li>
        <li><a>Outros endereços</a></li>
      </ul> -->

      <li class="collapsed" [routerLink]="['/meios-de-pagamento']" routerLinkActive="active">
        <a><i class="far fa-credit-card"></i> Meios de Pagamento</a>
      </li>

    </ul>
  </div>
</div>
