mat-form-field {
    width: 100%;
}

h2,
.card {
    font-family: 'Karla', sans-serif !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-carrinho {
    background-color: #0A68AE;
    color: white;
    width: 100% !important;
    font-size: 12px;
}

.btn-carrinho:hover {
    background-color: rgb(6, 83, 141);
    color: white;
}

.card:hover {
    background-color: rgb(245, 245, 245);
}