<!--Filtro Buscar serviços-->
<!-- <mat-form-field class="mt-5" appearance="outline">
    <mat-label><i class="fas fa-search"></i> Buscar serviço </mat-label>
    <input matInput [(ngModel)]="searchText" placeholder="Ex. Manutenção hidráulica">
    <mat-icon matSuffix></mat-icon>
</mat-form-field> -->

<div class="row mb-5 mt-5" *ngIf="(dt).length > 0; else noResults">
    <div class="col-12">
        <h2>Serviços de {{classeDescricacao}}
        </h2>
        <hr>
    </div>
    <div class="col-3 col-md-3 col-sm-6 mt-2" *ngFor="let item of dt">
        <div class="card">
            <!-- <img src="/assets/icones/advogado.jpeg" class="card-img-top" /> -->
            <div class="card-body">
                <h3 class="card-title">{{item.servico.descricao}}</h3>
                <a class="btn btn-carrinho" (click)="adicionarServico(item)">Adicionar no carrinho</a>
            </div>
        </div>
    </div>
</div>
<ng-template #noResults class="mt-5">
    <p>Nenhum serviço encontrado. </p>
</ng-template>
<br/>
<br/>
<br/>