<mat-toolbar>
    <span>Informar Localização</span>
    <span class="spacer"></span>
    <a (click)="close()" class="cursor"><i class="fas fa-times"></i></a>
</mat-toolbar>
<h3 class="mt-3">
    Para carregarmos a base de preços em sua cidade, precisamos que você nos informe sua UF e Município
</h3>

<mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select [(ngModel)]="selectedEstado" name="estado">
        <mat-option *ngFor="let estado of estados" [value]="estado.value">
            {{estado.sigla}}
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- <mat-form-field class="ml-5">
    <mat-label>Cidade</mat-label>
    <mat-select [(ngModel)]="selectedCidade" name="cidade">
        <mat-option *ngFor="let cidade of cidades" [value]="cidade.value">
            {{cidade.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field> -->
<button class="d-block mt-2" mat-button mat-raised-button>Selecionar</button>
