<!-- Menu horizontal -->
<app-nav-horizontal></app-nav-horizontal>
<div class="offset-md-2  col-md-10 float-md-right col-12 ml-auto component-scroll">
  <div class="container-fluid mt-5 color-gray">
    <form>
      <!-- Primeira linha -->
      <div class="form-row">
        <!-- Preferencia -->
        <div class="form-group col-6">
          <h2>Possui um Prestador de Serviços de sua preferência?</h2>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Código do Prestador de serviço" aria-label="Código do Prestador de serviço">
          </div>
        </div>
        <!-- Indicação -->
        <div class="form-group col-5 offset-1">
          <h2>Alguém te indicou este Prestador de Serviços?</h2>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Código do Prestador de serviço" aria-label="Código do Prestador de serviço">
          </div>
        </div>
      </div> <!-- Linha-->
    </form>
  </div>
</div>
