<div class=" mt-3 container justify-content-center d-flex">
  <a [routerLink]="['/home']">
    <img src="/assets/site/logo.png" alt="Logo">
  </a>
</div>
<hr />
<div class="wrapper">
  <div class="container text-center color-gray">
    <h2>Parabéns! Agora você é DeCasa, categoria Bronze. Seu cadastro foi recebido com sucesso!</h2>
    <h2 class="mt-4">Agora você deve <b>instalar o aplicativo do Profissional</b> em seu celular para começar a receber
      as
      notificações de propostas de serviços. Aproveite e faça isso agora apertando no botão abaixo</h2>
      <button class="btn btn-primary mt-3"> Instalar Aplicativo DeCasa<i
        class="fas fa-arrow-alt-circle-down fa-lg ml-2"></i></button>
  </div>
</div>
