<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-perfil"></i>

  <div class="menu-list mt-4">
    <ul id="menu-perfil" class="menu-content collapse out">
      <li data-toggle="collapse" data-target="#perfil" class="collapsed">
        <a><i class="fas fa-user"></i> Meu Perfil<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="perfil">
        <li class="active"><a>Dados Pessoais</a></li>
        <li><a>Permissões</a></li>
        <li><a>Senha</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#empresa" class="collapsed">
        <a><i class="fas fa-briefcase"></i> Empresa <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="empresa">
        <li><a>Dados Cadastrais</a></li>
        <li><a>Outros membros</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#endereco" class="collapsed">
        <a><i class="fas fa-map-marker-alt"></i> Endereços <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="endereco">
        <li><a>Principal</a></li>
        <li><a>Outros endereços</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#pay" class="collapsed">
        <a><i class="far fa-credit-card"></i> Meios de Pagamento <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="pay">
        <li><a>Cartões Cadastrados</a></li>
        <li><a>Cupons de desconto</a></li>
      </ul>

    </ul>
  </div>
</div>
