<div class="container-fluid">
  <div class="row">
    <div class="col-12  col-md-2 background-primary float-left">
      <p class="center">
        <i class="fas fa-user"></i>
        Fazer login
      </p>
    </div>
    <div class="col-12 col-md-10 float-left">
      <!-- Logo -->
      <div class="row">
        <div class="col-12">
          <p class="float-left mt-3 mb-3">
            <img src="/assets/site/logo.png" alt="Logo">
          </p>
          <!-- Links direitos -->
          <div class="d-flex justify-content-end">
            <ul class="navbar-nav login">
              <li class="nav-item ">
                <a href="#" class="redes-sociais" data-html="true" data-toggle="popover" data-trigger="focus"
                  template="<div class='popover my-specific-popover'" title="Localização" data-placement="bottom"
                  data-content="Informe a sua cidade para carregarmos os serviços disponíveis.
              <br/>
              <a class='btn'>Informar</a>
              <a class= 'btn'>Fechar</a>"><i class="fas fa-map-marker-alt"></i></a>
                <a href="#" class="redes-sociais"><i class="far fa-heart"></i></a>
                <a href="#" class="redes-sociais"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div> <!-- Row Logo-->
      <div class="row lista">
        <div class="offset-3 col-6">
          <!-- Teste-->
          <mat-horizontal-stepper class="testeStepper" [linear]="isLinear" #stepper>
            <mat-step>
              <ng-template matStepLabel>Orçamento</ng-template>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Quantidades</ng-template>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Propostas</ng-template>
            </mat-step>
          </mat-horizontal-stepper>

          <!-- <ul id="barra" class="d-block">
            <li>
              <p class="active">Monte seu orçamento </p>
            </li>
            <li>
              <p class="">Quantidades </p>
            </li>
            <li>
              <p class="">Propostas</p>
            </li>
          </ul> -->
        </div>
        <div class="col-3">
          <div class="justify-content-md-end text-center text-md-right d-block mt-3 mb-2 ">
            <button mat-raised-button>Avançar <i class="fas fa-angle-double-right"></i></button>
          </div>
      </div>
    </div>
    <!--Row Orçamento-->
  </div>
</div>
</div>
