<app-nav-vertical-usuario></app-nav-vertical-usuario>

<div class="col-md-10 float-md-right col-12 ml-auto orcamento">
  <div class="row">
    <div class="col-md-3 col-12 pedidos">
      <!-- Pedidos -->
      <app-nav-vertical-perfil></app-nav-vertical-perfil>
    </div>

    <div class="col-12 col-md-9 scroll-auto container-fluid">
      <form>
        <div class="form-row mt-4">
          <!-- Nome -->
          <div class="form-group col-md-6">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" placeholder="Nome">
          </div>

          <!-- Pontos -->
          <div class="form-group offset-3 col-md-2">
            <h2><span class="badge   btn-outline-secondary float-right" data-toggle="popover" data-trigger="hover"
                data-content="Sua quantidade de pontos acomulados">Pontos: 50</span></h2>
          </div>

          <!-- Email -->
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>

          <!-- Data de Nascimento -->
          <div class="form-group col-md-2">
            <label for="inputEmail4">Data de Nasc.</label>
            <input title="Data de Nascimento" type="text" class="form-control" id="inputEmail4"
            placeholder="dia/mês/ano" [textMask]="{mask: dateMask}">
          </div>

          <!-- Sexo -->
          <div class="form-group col-md-2">
            <label for="inlineFormCustomSelectPref">Sexo</label>
            <select class="custom-select" id="inlineFormCustomSelectPref">
              <option selected>Escolha</option>
              <option value="1">Masculino</option>
              <option value="2">Feminino</option>
            </select>
          </div>

           <!-- Plano -->
           <div class="form-group col-md-3">
            <label for="plano">Plano</label>
            <select class="custom-select" id="plano">
              <option selected>Escolha</option>
              <option value="1">Gratuito</option>
              <option value="2">Empresarial</option>
            </select>
          </div>

          <!-- Idioma -->
          <div class="form-group col-md-2">
            <label for="plano">Idioma</label>
            <select class="custom-select" id="plano">
              <option selected>Português</option>
            </select>
          </div>

             <!-- Idioma -->
             <div class="form-group col-md-2">
              <label for="plano">Time Zone</label>
              <select class="custom-select" id="plano">
                <option selected>Brasília</option>
              </select>
            </div>
        </div> <!-- Row-->
        <button mat-raised-button> <i class="fas fa-pencil-alt mr-2"></i>Editar</button>
      </form>
    </div>
  </div>
</div>
