<div class="row">

  <div class="col-9">
    <h2>Perfil do Prestador de Serviços</h2>
    <p>Fornecedor: TURNER Construction Company LLC</p>
    <p>Responsável Técnico: Doni Denuccio</p>
    <p>Formação: Engenheiro Civil Bacharel</p>
    <p>Tempo de Experiência: 5 anos</p>
    <p>Possui Veículo: Sim </p>
  </div>

  <!-- Botões laterais -->
  <div class="col-2">
    <!-- <button mat-raised-button class="font-btn-nav width-btn"> Certificados</button>
    <button mat-raised-button class="font-btn-nav mt-3 width-btn"> Ver Portifólio</button>
    <button mat-raised-button class="font-btn-nav mt-3 width-btn"> Comentário</button> -->
    <button mat-raised-button color="autorizar" class="font-btn-nav width-btn">Autorizar Início</button>
    <button mat-raised-button class="font-btn-nav mt-3 width-btn">Rastrear</button>
    <button mat-raised-button class="font-btn-nav mt-3 width-btn">Funcionários</button>
  </div>
</div>
