/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Karla', sans-serif !important;
  /* overflow: auto; */
}
body, html{
  height: 100% !important;
}

.scroll-auto{
  height: calc(100vh - 116px);
  overflow: auto;
}

.btn-icon{
  color: #404A51;
  background-color: white;
  border: none !important;
}

.background-primary{
  background-color:#63E1FD;
}

.background-secondary{
  background-color: rgba(99, 225, 253, 0.3);
}
.background-tertiary{
  background-color: rgba(99, 225, 253, 0.15);
}

.background-blue-logo{
  background-color: #0A68AE !important;
  color: white;
}

.color-table{
  background-color:rgba(99, 225, 253, 0.1) !important;
}

.color-orange-logo{
  background-color: #FCB23A;
  color: white;
}
.color-gray{
  color: #404A51;
}
.component-scroll{
  height: calc(100vh - 116px);
  overflow: auto;
  margin-left: auto !important;
}

.overflow-page{
  overflow: hidden;
}
@media (max-width: 767px) {
  .overflow-page{
    overflow: auto;
  }
}

.font-size-area{
  font-size: 16px;;
}

.style-link{
  text-decoration: none;
  color: #404A51;
}

