/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Karla', sans-serif;
  overflow: hidden;
}

.background-secondary{
  background-color: rgba(99, 225, 253, 0.3);
}
.background-primary{
  background-color:#63E1FD;
}

.background-blue-logo{
  background-color: #0A68AE !important;
  color: white;
}
.color-orange-logo{
  background-color: #FCB23A;
  color: white;
}
.color-gray{
  color: #404A51;
}
.component-scroll{
  height: calc(100vh - 116px);
  overflow: auto;
  margin-left: auto !important;
}

.font-size-area{
  font-size: 16px;;
}

/* AIzaSyAoVvj5lM77pVqV4EyRzJwIHoBK83MGumU */
