<mat-toolbar>
  <span>Adicionar Cartão</span>
  <span class="spacer"></span>
  <a (click)="close()" class="cursor"><i class="fas fa-times"></i></a>
</mat-toolbar>

<div class="form-check form-check-inline mt-3">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
  <label class="form-check-label" for="inlineRadio1" checked> Débito</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Crédito</label>
</div>
<!--Primeira linha-->

<!--Segunda Linha-->
<div class="form-row mt-2">
  <div class="form-group col-8">
    <label for="exampleFormControlInput1">Número</label>
    <input class="form-control" id="exampleFormControlInput1" [textMask]="{mask: numeroMask}">
  </div>
  <div class="form-group col-2">
    <label for="exampleFormControlInput1">Mês</label>
    <input class="form-control" id="exampleFormControlInput1" [textMask]="{mask: mesMask}">
  </div>
  <div class="form-group col-2">
    <label for="exampleFormControlInput1">Ano</label>
    <input class="form-control" id="exampleFormControlInput1" [textMask]="{mask: mesMask}">
  </div>
</div>
<!--Segunda linha-->

<!-- Terceira linha-->
<div class="form-row ">
  <div class="form-group col-10">
    <!--Nome-->
    <div class="form-group">
      <label for="idNomeCartao">Nome do Titular</label>
      <input type="text" class="form-control" id="idNomeCartao">
      <small class="form-text text-muted">Nome completo, como mostrado no cartão.</small>
    </div>
  </div>
  <div class="form-group col-2">
    <label for="idCod">Cod. Seg.</label>
    <input type="number" class="form-control" id="idCod">
  </div>
</div> <!-- Terceira Linha-->

<button mat-raised-button class="" align="end">Salvar</button>
