<!-- Menu horizontal -->
<app-nav-horizontal></app-nav-horizontal>
<div class="offset-md-2  col-md-10 float-md-right col-12 ml-auto component-scroll">
  <div class="container-fluid bg-white">
    <div class="text-center mt-5">
      <h2>
        Esta é sua sua planilha de orçamento. Favor, insira a quantidade de cada serviço.<br />
        Atentar para as unidades de medidas ao lado. <br />
        Caso precise de ajude, fale conosco no <a id="chat" href="#">chat <i class="far fa-comment"></i>.</a>
      </h2>
    </div>
  </div>

  <app-tabela-quantidade></app-tabela-quantidade>
  <!-- Rever o motivo de tanto de quebra linha-->
  <div class="text-center mt-4 mb-4">
    <h3>Cada categoria é atendida  por um profissional especialista. <br/>
        Caso escolha  serviços  de categorias diferentes, você poderá receber prestadores de serviços  diferentes.
    </h3>
  </div>
</div> <!-- coluna-->
