<app-nav-vertical-usuario></app-nav-vertical-usuario>

<div class="col-md-10 float-md-right col-12 ml-auto orcamento">
  <div class="row">
    <div class="col-md-3 col-12 pedidos">
      <!-- Pedidos -->
      <app-nav-vertical-perfil></app-nav-vertical-perfil>
    </div>

    <div class="col-12 col-md-9 scroll-auto container-fluid">
<!--     Formulário para alterar a senha-->
      <form  [formGroup]="myForm">
        <div class="form-row mt-4">
          <!-- senha -->
          <div class="form-group col-md-6 col-12">
            <label for="senhaAtual">Senha atual</label>
            <input type="password" class="form-control" id="senhaAtual" placeholder="Informe a senha atual"formControlName="oldPassword" required>
            <span class="color-red" *ngIf="myForm.controls['oldPassword'].invalid && (myForm.controls['oldPassword'].touched || myForm.controls['oldPassword'].dirty)">
              Informe sua senha
            </span>
          </div>
        </div>

        <div class="form-row mt-4">

          <div class="form-group col-md-6 col-12">
            <label for="novaSenha">Nova Senha</label>
            <input type="password" class="form-control" id="novaSenha" placeholder="Informe a nova senha"
                   formControlName="password" required>
            <span class="color-red" *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].touched || myForm.controls['password'].dirty)">
              Informe a nova senha
            </span>
          </div>

          <div class="form-group col-md-6 col-12">
            <label for="confimaSenha">Confirme a Nova Senha</label>
            <input class="form-control" type="password" placeholder="Confirm password" id="confimaSenha"
                   formControlName="confirmPassword">
            <span class="text-danger" *ngIf="myForm.hasError('notSame')&& (myForm.controls['confirmPassword'].touched || myForm.controls['confirmPassword'].dirty)">
              as senhas nao correspondem
            </span>
          </div>
        </div>
        <button mat-raised-button [disabled]="myForm.invalid" (click)="alterPassword()"><i class="fas fa-check"></i>Salvar</button>
      </form>
    </div>
  </div>
</div>

<!--<form [formGroup]="myForm">-->
<!--  <mat-form-field>-->
<!--    <input matInput placeholder="New password" formControlName="password" required>-->
<!--    <mat-error *ngIf="myForm.hasError('required', 'password')">-->
<!--      Please enter your newpassword-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher">-->
<!--    <mat-error *ngIf="myForm.hasError('notSame')">-->
<!--      Passwords do not match-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--</form>-->

